{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- service section -->
    <div class="service">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                    <h2><img src="{% static 'images/heading_icon.png' %}" alt="#"/><span class="yellow">Sentiment Analysis</span> <br> <span class="appp_l">Proceso de Analisis de Sentimiento</span></h2>
                    <p>Escribe en la siguiente caja de texto la oracion que requieres para que nos de el sentimiento</p>
                    <p> {{sentimentresult}} </p>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <div class="service_box">
                    <i><img class= "service_image" src="{% static 'images/translate.png' %}" alt="#"/></i>
                    <div class="service_text">
                       <h3> Form Sentimiento </h3>
                        <form action = "" method = "post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12 ">
                                    <p>Pon aqui el texto a analizar<p>
                                    {{analyzeform.text_to_analyze}}
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-md-12">
                                <button class="send_btn">Analizar Sentimiento</button>
                            </div>
                       </form>
                    </div>
                 </div>
              </div>
            </div>
        </div>
    </div>
     <!-- end service section -->
    
     {% endblock %}
    